---
import Layout from '@/layouts/Layout.astro'
import { getPosts } from '@/lib/getPosts'

const posts = await getPosts()

const description = 'Astroで構築したテストサイトです。ブログの一覧ページです。'
---

<Layout title="ブログ一覧" description={description}>
  <h2 class="headings">Blog</h2>

  <div class="article-container">
    {
      posts.slice(0, 21).map((item) => (
        <a href={`/blog/${item.id}`} class="article">
          <img src="/images/dummy.png" alt="" />
          <p class="title">{item.title}</p>
        </a>
      ))
    }
  </div>
</Layout>

<style lang="scss">
  @use '@/styles/mixin' as *;

  .article-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px 24px;
    margin-top: 32px;

    @include sm {
      grid-template-columns: repeat(2, 1fr);
    }

    .article {
      display: block;

      &:hover {
        opacity: 0.7;
      }

      .title {
        font-size: 1.6rem;
        margin-top: 8px;
      }
    }
  }
</style>
