---
import Layout from '@/layouts/Layout.astro'
import Slider from '@/components/Slider'

const description = 'Astroで構築したテストサイトです。'
---

<Layout title="トップページ" description={description}>
  <h2 class="headings">トップページ</h2>
  <div class="hero">
    <Slider client:load />
  </div>
</Layout>

<style lang="scss">
  .hero {
    margin-top: 32px;
  }
</style>
