---

---

<footer>
  <p class="copyright">(c) Astro-test All Rights Reserved.</p>
</footer>

<style lang="scss">
  .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    background: #dedede;
    font-size: 1.4rem;
    text-align: center;
  }
</style>
